{% extends "first_app/base.html" %}

{% block tittle %}
    About Page
{% endblock tittle %}  

{% block content %}
<div class="card-img-overlay">
    <h2 class="card-title"><center><span class="letter">About Post Page</span></center></h2>
    <p class="lead"><center><span class="letter2">This is my Posts for Python Django Web Development</span></center></p>
    <p class="lead"><center><span class="letter2">And also it is my first Django Project</span></center></p>
    <p class="lead"><center><span class="letter2">If you want to any advise for posts,</span></center></p>
    <p class="lead"><center><span class="letter2">You can add to new posts</span></center></p>
    <p class="lead"><center><span class="letter2">So, everyone can take advantage of posts.</span></center></p>



  {% endblock content %}